section(id="promo").section.promo
  .promo__text
    h1.title.title__promo.animation_item.stop_animation=profile.name
    div.promo__line
    h3.title.subtitle__promo.animation_item.stop_animation=profile.about
  include ../social/social
