.about
  padding-top: min(90px, 17vw)
  &__education, &__experience
    width: min(900px, 80vw)
    margin: 0 auto
  &__education
    display: grid
    grid-template-columns: 2.5fr 1fr
    gap: min(100px, 8vw)
    margin-bottom: min(100px, 16vw)
    @media screen and (max-width: 767px)
      display: flex
      flex-direction: column
      align-items: center
  &__text
    display: flex
    flex-direction: column
    gap: min(20px, 4vw)
  &__image
    position: relative
    transform: scale(0.5)
    width: 100%
    border-radius: 10px
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.04), 4px 4px 8px rgba(0, 0, 0, 0.06), 6px 6px 15px rgba(0, 0, 0, 0.08), 7px 7px 25px rgba(0, 0, 0, 0.1)
    transition: $animation-transition
    &._active
      transform: scale(1)
    @media screen and (max-width: 767px)
      width: min(250px, 60vw)

  &__subtitle
    margin: 0
    position: relative
    text-align: start
    font-size: min(18px, 5vw)
    transition: $animation-transition
      
  &__company
    border-radius: 10px
    padding: 10px 15px
    border: 1px solid rgba($primary-color, 0.1)
    background: rgba($primary-color, 0.025)
    display: grid
    grid-template-columns: 1fr 2fr
    opacity: 0
    transition: $app-transition 0.5s
    @media screen and (max-width: 767px)
      display: flex
      flex-direction: column
      gap: 10px
    &._active
      opacity: 1
  
  &__date
    margin-top: min(40px, 10vw)
    display: flex
    flex-direction: column
    gap: min(40px, 10vw)
  