section(id="portfolio").section.portfolio
  h3.title.title__main.animation_item.stop_animation Portfolio
  p.paragraph.paragraph__main.portfolio__paragraph Here is my portfolio. I started to collect applications from my Yandex Practicum and then completed some test tasks. I try to implement different technologies in my projects.
  ul.portfolio__cards
    include ../card/card
