@import ../card/card
  
.portfolio
  padding-top: min(90px, 17vw)
  &__info
    width: min(900px, 80vw)
    margin: 0 auto
    display: grid
    grid-template-columns: auto 300px
    gap: min(100px, 8vw)
    margin-bottom: min(100px, 16vw)
    align-items: center
    @media screen and (max-width: 767px)
      display: flex
      flex-direction: column
  &__paragraph
    width: min(700px, 80vw)
    margin: 0 auto
    margin-bottom: min(30px, 6vw)
    text-align: justify

  &__cards
    list-style: none
    padding: 0
    margin: 0
    display: grid
    grid-template-columns: 1fr 1fr
    gap: min(40px, 10vw)
    @media screen and (max-width: 767px)
      display: flex
      flex-direction: column
        