extends dev/layout/main_page
block variables
  - var pageTitle = 'My Resume'

  - var navLinks = [{link: "promo", name: "Main"}, {link: "about", name: "About"}, {link: "skills", name: "Skills"}, {link: "portfolio", name: "Portfolio"}, {link: "contacts", name: "Contacts"}]

  - var profile = {name: "Павел Хохлов", img: "./images/portrait.jpg", about: "Frontend - разработчик", age: 44, text: "Я веб-разработчик из города Мытищи, несмотря на то, что у меня есть высшее образование и квалификация радио-инженера, программирование стало моим основным увлечением, спасибо Яндекс Практикум за полученный опыт и знания. Моя цель - создавать профессиональные сайты и приложения."}

block content
  include dev/modules/header/header
  include dev/modules/main/main
  include dev/modules/footer/footer
  include dev/modules/popupMenu/popupMenu
  