extends dev/layout/main_page
block variables
  - var pageTitle = 'My Resume'

  - var navLinks = [{link: "promo", name: "Main"}, {link: "about", name: "About"}, {link: "skills", name: "Skills"}, {link: "portfolio", name: "Portfolio"}, {link: "contacts", name: "Contacts"}]

  - var profile = {name: "Pavel Khokhlov", img: "./images/portrait.jpg", about: "Frontend Developer", age: 44, text: "I was born in Primorskiy kray. I graduated a Marine academy and worked as a telecom engineer on Oil & Gas project for a long time. And so I provided IT support to employers. I got acquainted with HTML, CSS and JS in 2012 year. I wrote my first application for my photography portfolio and deployed it on host. When I moved to Moscow I worked as photographer. I took up Frontend course at Yandex Praktikum in 2020. I am ready to implement my skills in projects. I have been studying new technologies lately to improve my knowledge. I like modern, customer-friendly apps."}

block content
  include dev/modules/header/header
  include dev/modules/main/main
  include dev/modules/footer/footer
  include dev/modules/popupMenu/popupMenu
  